@page "/AddSkills"
@using MyCV_Frontend_Blazor.Data
@using MyCV_Frontend_Blazor.Services
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@attribute [Authorize]
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IApiService ApiService

<h3>AddSkills</h3>

@code {

}
